/* GRID VIEW (default) */

.bookGridView {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.bookCover {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.bookCover:hover {
  transform: scale(1.01);
  box-shadow: 0 0 1px var(--green);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.author {
  font-style: italic;
  color: var(--grey);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.title {
  font-size: 1rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* LIST VIEW */

.bookListView {
  display: flex;
  gap: 5rem;
  align-items: stretch;
  margin-bottom: 3rem;
}

.bookListView .bookCover {
  height: 300px;
  width: 200px;
  margin: 0;
}

.textGrid {
  display: grid;
  grid-template-rows: min-content min-content auto auto auto;
}

.bookListView .title {
  grid-row: 1;
  font-size: 1.5rem;
  font-family: poppinsMedium;
  margin-bottom: 0.5rem;
}

.bookListView .author {
  grid-row: 2;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.bookListView .reason {
  grid-row: 3;
}

.bookListView .notes {
  grid-row: 4;
  color: var(--grey);
  font-family: Poppins;
  font-style: italic;
}

.bookListView .stars {
  grid-row: 5;
  align-self: end;
}
