/* GRID VIEW (default) */

.bookGridView {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.bookCover {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.bookCover:hover {
  transform: scale(1.01);
  box-shadow: 0 0 1px var(--green);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.author {
  font-style: italic;
  color: var(--grey);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.title {
  font-size: 1rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* LIST VIEW */

.bookListView {
  display: flex;
  gap: 5rem;
  /* align-items: stretch; */
  margin-bottom: 6rem;
}

.bookListView .bookCover {
  height: 300px;
  width: 200px;
  margin: 0;
}

.textGrid {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  gap: 1rem;
}

.bookListView .title {
  grid-row: 1;
  font-size: 1.5rem;
  font-family: poppinsMedium;
}

.bookListView .author {
  grid-row: 2;
  font-size: 1.2rem;
  /* margin-bottom: 1rem; */
}

.bookListView .reason {
  grid-row: 4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* text-overflow: ellipsis;  */
  word-break: break-word; /* avoids words overflowing */
  line-height: 1.4;
  max-height: calc(1.4em * 3);
}

.bookListView .notes {
  grid-row: 5;
  color: var(--grey);
  font-family: Poppins;
  font-style: italic;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* text-overflow: ellipsis;  */
  word-break: break-word; /* avoids words overflowing */
  line-height: 1.4;
  max-height: calc(1.4em * 4); /* !! to cut text after clamp */
}

.bookListView .starsAndChips {
  grid-row: 3;
  align-self: end;
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
}

.bookListView .chips {
  display: flex;
  gap: 2rem;
}
