.bookReason {
  resize: none;
  padding-top: 0.9rem;
  background-color: var(--grey);
  color: white;
  margin-bottom: 1rem;
  width: 20vw;
  height: 8rem;
}

.bookReason::placeholder {
  color: var(--whiteish);
}
