.bookshelf {
  display: grid;
  gap: 1.5rem;
  background-color: var(--dark-grey);
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 30px;
}

@media (min-width: 650px) {
  .bookshelf {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .bookshelf {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1300px) {
  .bookshelf {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1550px) {
  .bookshelf {
    grid-template-columns: repeat(6, 1fr);
  }
}
